<footer class="page-footer teal center-on-small-only">

    <div class="footer-copyright">
        <div class="container-fluid">
            <a href="#">
                <%= new Date().getFullYear();%> &copy EduCRUD
            </a>
        </div>
    </div>
</footer>